
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="~/Scripts/MyScripts/Competences.js" charset="utf-8" ></script>
@*<script type="text/javascript" src="~/Scripts/MyScripts/tooltip.js"></script>*@
<script type="text/html" id="data" charset="utf-8">



        @Html.Raw(ViewBag.VB)
    </script>
    @{
        ViewBag.Title = "Projet5";
    }
    @using projet5.Models
    <div id="page" style="display:block">
        <header>
           
            <div class="container-fluid col-sm-10 col-md-10 col-lg-10" id="header">
                <div style="position: absolute; top: 0%; right: 0; ">
                    <img style="width:121px; height:68px;" src="http://www.univ-lemans.fr/skins/um2016/resources/um_img/LOGO_UM_lemansLaval.png">
                </div>
                @*<div id="title">
                        <label for="title">Diagramme des compétences : Licence/Master SPI acoustique</label>
                    </div>*@
                <div class="text-center title" style="position: absolute; top: 0%; left:30%"><p class="crop">Diagramme des compétences : Licence/Master SPI acoustique</p></div>
                <div class="container-fluid row legend">
                    <div class="legend" style="width: 90px">
                        <div id="circleLg" style="background:darkgray"></div>
                        <p>Non tentée</p>
                    </div>
                    <div class="legend" style="width: 65px">
                        <div id="circleLg" style="background:red"></div>
                        <p>Ratée</p>
                    </div>
                    <div class="legend" style="width: 130px">
                        <div id="circleLg" style="background:darkorange"></div>
                        <p>Presque réussie</p>
                    </div>
                    <div class="legend" style="width: 80px">
                        <div id="circleLg" style="background:lime"></div>
                        <p>Réussie</p>
                    </div>
                    <div class="legend" style="width: 75px">
                        <div id="circleLg" style="background:magenta"></div>
                        <p>Requis</p>
                    </div>
                    <div class="legend" style="width: 100px">
                        <div id="circleLg" style="background:blue"></div>
                        <p>Permet de</p>
                    </div>

                </div>
            </div>
        </header>
        <main>

            <div id="main" class="container-fluid row " style="float: left; margin-left:2px">
                @foreach (Semestre sem in ViewData.Model.semesters)
            {
                switch (sem._semestre)
                {
                    case "S1":
                            <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                                <label for="@sem._semestre" class="text-center">Semestre1</label>
                                @foreach (Cours cours in sem._cours)
                                {
                                    @*<script type="text/html" id="data" charset="utf-8">
                                        @Html.Raw(cours._nom)
                                    </script>*@
                                    
                                    <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip"  data-placement="bottom"  data-html="true" title="@Html.Raw(cours._nom)">
                                        @foreach (ReadCompetence comp in cours._competences)
                                        {


                                            <div class="circle test" id="@comp._id" data-toggle="tooltip"  data-placement="top" title="@Html.Raw(comp._code)"></div>
                                        }
                                    </div>
                                }
                            </div>
                            break;
                            @*<li><a id=@comp._id @*href=@comp._link> @comp._code</a></li>*@

                case "S2":
                    <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                        <label for="@sem._semestre" class="center">Semestre2</label>
                        @foreach (Cours cours in sem._cours)
                        {
                            <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                @foreach (ReadCompetence comp in cours._competences)
                                {


                                    <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                }
                            </div>
                        }
                    </div>
                    break;
                case "S3":
                    <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                        <label for="@sem._semestre" class="center">Semestre3</label>
                        @foreach (Cours cours in sem._cours)
                        {
                            <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                @foreach (ReadCompetence comp in cours._competences)
                                {


                                    <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                }
                            </div>
                        }
                    </div>
                            break;
                        case "S4":
                            <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                                <label for="@sem._semestre" class="center">Semestre4</label>
                                @foreach (Cours cours in sem._cours)
                                {
                                    <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                        @foreach (ReadCompetence comp in cours._competences)
                                        {


                                            <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                        }
                                    </div>
                                }
                            </div>
                            break;
                        case "S5":
                            <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                                <label for="@sem._semestre" class="center">Semestre5</label>
                                @foreach (Cours cours in sem._cours)
                                {
                                    <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                        @foreach (ReadCompetence comp in cours._competences)
                                        {


                                            <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                        }
                                    </div>
                                }
                            </div>
                            break;
                        case "S6":
                            <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                                <label for="@sem._semestre" class="center">Semestre6</label>
                                @foreach (Cours cours in sem._cours)
                                {
                                    <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                        @foreach (ReadCompetence comp in cours._competences)
                                        {


                                            <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                        }
                                    </div>
                                }
                            </div>
                            break;
                        case "S7":
                            <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                                <label for="@sem._semestre" class="center">Semestre7</label>
                                @foreach (Cours cours in sem._cours)
                                {
                                    <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                        @foreach (ReadCompetence comp in cours._competences)
                                        {


                                            <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                        }
                                    </div>
                                }
                            </div>
                            break;
                        case "S8":
                            <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                                <label for="@sem._semestre" class="center">Semestre8</label>
                                @foreach (Cours cours in sem._cours)
                                {
                                    <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                        @foreach (ReadCompetence comp in cours._competences)
                                        {


                                            <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                        }
                                    </div>
                                }
                            </div>
                            break;
                        case "S9":
                            <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                                <label for="@sem._semestre" class="center">Semestre9</label>
                                @foreach (Cours cours in sem._cours)
                                {
                                    <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                        @foreach (ReadCompetence comp in cours._competences)
                                        {


                                            <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                        }
                                    </div>
                                }
                            </div>
                            break;
                        case "S10":
                            <div id="@sem._semestre" class="col-sm-1 col-md-1 col-lg-1  panel panel-success semester">
                                <label for="@sem._semestre" class="center">Semestre10</label>
                                @foreach (Cours cours in sem._cours)
                                {
                                    <div id="cours_@(cours._id)" class="row course center test" data-toggle="tooltip" data-placement="bottom" data-html="true" title="@Html.Raw(cours._nom)">
                                        @foreach (ReadCompetence comp in cours._competences)
                                        {


                                            <div class="circle test" id="@comp._id" data-toggle="tooltip" data-placement="top" title="@Html.Raw(comp._code)"></div>
                                        }
                                    </div>
                                }
                            </div>
                            break;

                    }
                }
            </div>
        </main>
        <footer>
            <div class="container-fluid col-sm-10 col-md-10 col-lg-10" id="footer">
                <select id="anne">
                    @*autofocus accesskey="c"*@
                    <option selected value="default">---</option>
                    <option value="L1">L1</option>
                    <option value="L2">L2</option>
                    <option value="L3">L3</option>
                    <option value="M1">M1</option>
                    <option value="M2">M2</option>
                </select>
                <select id="etudiants" />
                <div style="position: absolute; bottom: 0%; right: 0; ">
                   <p>Author:Saievych Ihor</p>
                </div>
            </div>
        </footer>

    </div>
<script>
    $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    });
</script>